.c001
{
    background: #FD4450;
}
.c002
{
    background: #FCEF7B;
}
.c010
{
    background: #ABFFE1;
}
.c011
{
    background: #ABFFE1;
}
.c020
{
    background: #F39F20;
}
.c021
{
    background: #BC90F5;
}